@import "../../variables";

header {
    background-color: $global-dark-background;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;

    .container {
        align-items: center;
        display: flex;
        justify-content: space-between;

        nav {
            display: flex;
            gap: 20px;
        }
    }
}