@import "../../variables";

header {
    background-color: $main-dark;
    color: $egg-shell;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 5px 0px $shadow-grey;

    .container {
        align-items: center;
        display: flex;
        justify-content: space-between;

        .navbar-brand {
            font-size: 24px;
            font-weight: 700;
        }

        .menu-toggle {
            display: none;
            position: relative;
            background-color: unset;
            border: unset;
            width: 40px;
            height: 32px;
            padding: unset;

            &.toggled {
                span {
                    opacity: 1;
                    transform: rotate(45deg) translate(0, -16px);
                    margin-bottom: unset;

                    &:not(:last-of-type) {
                        margin-bottom: unset;
                    }

                    &:nth-child(2) {
                        transform: rotate(-45deg) translate(0, 16px);
                    }

                    &:nth-child(3) {
                        opacity: 0;
                        transform: rotate(0deg) scale(0.2, 0.2);
                    }
                }
            }

            span {
                background-color: $egg-shell;
                border-radius: 3px;
                display: block;
                height: 4px;
                position: relative;
                transform-origin: 4px 0px;
                transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
                width: 100%;

                &:not(:last-of-type) {
                    margin-bottom: 5px;
                }

                &:first-child {
                    transform-origin: 0% 0%;
                }

                &:nth-last-child(2) {
                    transform-origin: 0% 100%;
                }
            }
        }

        .nav-elements {
            display: flex;
            gap: 30px;
            justify-content: space-between;
            list-style-type: none;

            > a {
                font-size: 18px;
                font-weight: 400;
                display: block;
                padding: 15px;
                position: relative;
                text-transform: uppercase;
                transition: all 0.5s;

                &:hover {
                    color: $golden;
                    transition: all 0.5s;

                    &::after {
                        width: 100%;
                    }
                }

                &::after {
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0%;
                    content: ".";
                    color: transparent;
                    background-color: $darker-golden;
                    height: 2px;
                    transition: all 0.5s;
                }

                &.active {
                    color: $golden;
                    font-weight: 600;

                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        .container {
            .menu-toggle {
                display: block;
            }

            .nav-elements {
                background-color: $main-dark;
                display: flex;
                flex-direction: column;
                gap: 20px;
                height: calc(100% - 94px);
                justify-content: unset;
                left: 0;
                overflow: hidden;
                padding: 50px 17px;
                position: absolute;
                -webkit-font-smoothing: antialiased;

                top: 94px;
                transform-origin: 0% 0%;
                transform: translate(100%, 0);

                transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
                width: calc(100% - 34px);

                &.active {
                    transform: translate(0);
                }

                > a {
                    &:not(.active)::after {
                        width: 0;
                    }

                    &:hover {
                        &:not(.active)::after {
                            width: 0;
                        }
                    }
                }
            }
        }
    }
}
