@import "../../variables";

footer {
    background-color: $main-dark;
    color: $egg-shell;
    padding: 20px 0 30px;
    position: sticky;
    top: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
