@import "../../variables";

footer {
    background-color: $main-dark;
    color: $egg-shell;
    padding: 20px 0 30px;
    position: sticky;
    top: 100vh;

    .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .footer-brand-wrapper {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 10px;

            .footer-brand {
                font-size: 22px;
                font-weight: 600;
                line-height: 24px;
            }

            .copy {
                font-size: 22px;
                font-weight: 600;
                line-height: 24px;
            }
        }

        .social-icons {
            display: flex;
            flex-direction: row;
            gap: 10px;

            a {
                &.social-icon {
                    width: 35px;
                }

                &:hover {
                    .social-svg-mask {
                        fill: #c5aa6a !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    footer {
        .container {
            .footer-brand-wrapper {
                flex-direction: column;

                .footer-brand {
                    font-size: 20px;
                    line-height: 22px;
                }
    
                .copy {
                    font-size: 16px;
                    line-height: 18px;
                }
            }
        }
    }
}
