$global-font: 'Roboto', 'Source Sans Pro', sans-serif;

// Colors
$egg-shell: #f9feff;
$dark-grey-bg: #38342e;
$darker-golden: #7c5c11;
$darker-grey-bg: #323232;
$golden: #c5aa6a;
$light-grey-bg: #8f8c80;
$main-dark: #1d1e22;
$shadow-grey: #404040;