@import "../../assets/styles/_variables.scss";

// Content
.card {
    .content-wrapper {
        h2 {
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 1.5;
        }
    }
}

.callout {
    background-color: $main-dark;
    color: $egg-shell;
    padding: 60px 0;

    .container {
        align-items: center;
        display: flex;
        gap: 20px;
        justify-content: space-evenly;
    }
}

@media (max-width: 768px) {
    .callout {
        .container {
            flex-direction: column;
        }
    }
}

.icons-wrapper {
    svg {
        height: 35px;
        width: 35px;
        &:not(:first-child) {
            margin-left: 10px;
        }
    }
}